<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Management{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .group:hover .dropdown-menu,
        .group:focus-within .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body class="max-w-7xl mx-auto">
  
    <header>
        <nav class="mx-auto flex items-center justify-between p-2 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="/" class="-m-1.5 p-1.5 text-xl font-bold text-gray-900">
                    Event
                </a>
            </div>
            
            <div class="lg:hidden">
                <button id="menu-toggle" class="text-gray-900 focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
            
            <div id="menu" class="hidden lg:flex lg:items-center gap-x-8">
                <a href="{% url 'home' %}" class="text-sm font-semibold text-gray-900 hover:text-indigo-600">
                    Home
                </a>
                
                {% comment %} <div class="relative group">
                    <button class="text-sm font-semibold text-gray-900 hover:text-indigo-600 flex items-center gap-x-1">
                        Manage
                        <svg class="w-4 h-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div class="dropdown-menu absolute hidden bg-white shadow-lg rounded-lg py-2 w-48 mt-1 z-50 group-hover:block">
                        <a href="{% url 'create_category' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100 hover:text-indigo-700">
                            Create Category
                        </a>
                        <a href="{% url 'event_list' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100 hover:text-indigo-700">
                            Event
                        </a>
                        <a href="{% url 'participant_list' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100 hover:text-indigo-700">
                            Participant
                        </a>
                        
          
                    </div>
                    
                </div> {% endcomment %}
                <form action="{% url 'search_events' %}" method="get" class="flex w-full max-w-md ml-6">
                    <input 
                        type="text" 
                        name="search" 
                        value="{{ request.GET.search|default:'' }}" 
                        placeholder="Search by name or location..." 
                        class="flex-grow px-4 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
                    />
                    <button 
                        type="submit" 
                        class="px-4 py-2 bg-indigo-500 text-white rounded-r-lg hover:bg-indigo-600">
                        Search
                    </button>
                </form>
                {% if user.is_authenticated %}
                <div class="relative">
                    <button id="user-menu-button" class="flex items-center focus:outline-none">
                        <img class="h-8 w-10 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5BSEPxHF0-PRxJlVMHla55wvcxWdSi8RU2g&s" alt="User">
                    </button>
                    <div id="user-menu" class="hidden absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-lg py-2 z-50">
                       
                        <a href="{% url 'dashboard_redirect' %}" class="block px-4 py-2 text-sm font-medium text-gray-700 hover:bg-indigo-50 hover:text-indigo-700 rounded-md transition duration-300 ease-in-out">
                            <span class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-indigo-500" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                                </svg>
                                Dashboard 
                                <span class="ml-1 text-indigo-500 font-semibold">({{ user.username }})</span>
                            </span>
                        </a>
                        <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm font-medium text-gray-700 hover:bg-red-50 hover:text-red-700 rounded-md transition duration-300 ease-in-out">
                            <span class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="30" height="30">
                                    <circle cx="50" cy="30" r="20" fill="#4CAF50" />
                                    <rect x="25" y="55" width="50" height="30" rx="5" ry="5" fill="#4CAF50" />
                                    <path d="M35 70 C 40 80, 60 80, 65 70" stroke="#fff" fill="transparent" stroke-width="2" />
                                  </svg>
                                  
                                Profile
                            </span>
                        </a>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm font-medium text-gray-700 hover:bg-red-50 hover:text-red-700 rounded-md transition duration-300 ease-in-out">
                            <span class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H3" />
                                  </svg>
                                Logout
                            </span>
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="text-sm font-semibold text-gray-900 hover:text-indigo-600">
                    Login
                </a>
                <a href="{% url 'register' %}" class="text-sm font-semibold text-gray-900 hover:text-indigo-600 whitespace-nowrap">
                    Sign Up
                </a>
                
            {% endif %}
             
            </div>
        </nav>
        
        <div id="mobile-menu" class="hidden lg:hidden p-4 space-y-4 bg-white shadow-md">
            <a href="{% url 'home' %}" class="block text-sm font-semibold text-gray-900 hover:text-indigo-600">Home</a>
           
            <form action="{% url 'search_events' %}" method="get" class="flex w-full max-w-md ml-6">
                <input 
                    type="text" 
                    name="search" 
                    value="{{ request.GET.search|default:'' }}" 
                    placeholder="Search by name or location..." 
                    class="flex-grow px-4 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
                />
                <button 
                    type="submit" 
                    class="px-4 py-2 bg-indigo-500 text-white rounded-r-lg hover:bg-indigo-600">
                    Search
                </button>
            </form>
            {% if user.is_authenticated %}
            <div class="relative">
                <button id="user-menu-button" class="flex items-center focus:outline-none">
                    <img class="h-8 w-10 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5BSEPxHF0-PRxJlVMHla55wvcxWdSi8RU2g&s" alt="User">
                </button>
                <div id="user-menu" class="hidden absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-lg py-2 z-50">
                   
                    <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100 hover:text-indigo-700">
                        Logout
                    </a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="text-sm font-semibold text-gray-900 hover:text-indigo-600">
                Login
            </a>
            <a href="{% url 'register' %}" class="text-sm font-semibold text-gray-900 hover:text-indigo-600">
                Sign Up
            </a>
        {% endif %}
        </div>
    </header>
    
    <div>{% block content %}{% endblock %}</div>
    <footer >
        <div class="space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
            <!-- Footer Content -->
            <div
                class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16">
                <!-- About Section -->
                <div>
                    <p class="font-medium text-gray-900">About</p>
                    <p class="mt-6 text-sm text-gray-700">
                        We are committed to providing the best services to our clients by
                        focusing on quality, innovation, and customer satisfaction.
                    </p>
                </div>
                <!-- Services Section -->
                <div>
                    <p class="font-medium text-gray-900">Services</p>
                    <ul class="mt-6 space-y-3 text-sm">
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">1on1 Coaching</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Company Review</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Accounts Review</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">HR Consulting</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">SEO Optimization</a></li>
                    </ul>
                </div>
                <!-- Company Section -->
                <div>
                    <p class="font-medium text-gray-900">Company</p>
                    <ul class="mt-6 space-y-4 text-sm">
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">About</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Meet the Team</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Careers</a></li>
                    </ul>
                </div>
                <!-- Helpful Links Section -->
                <div>
                    <p class="font-medium text-gray-900">Helpful Links</p>
                    <ul class="mt-6 space-y-4 text-sm">
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Contact</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">FAQs</a></li>
                        <li><a href="#" class="text-gray-700 transition hover:opacity-75">Live Chat</a></li>
                    </ul>
                </div>
            </div>
          
            <!-- Footer Bottom -->
            <p class="text-xs text-gray-500 text-center border-t ">&copy; 2025. Your Company Name. All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('mobile-menu').classList.toggle('hidden');
        });
        
        document.getElementById('user-menu-button').addEventListener('click', function() {
            document.getElementById('user-menu').classList.toggle('hidden');
        });
    </script>
</body>
</html>
