<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex h-screen">
        <div id="sidebar" class="w-1/4 bg-gray-800 text-white p-6 space-y-6 hidden lg:block">
             {% comment %} <nav class="space-y-4">
                <a href="{% url 'admin_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                <a href="{% url 'create_group' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Create Group</a>
                <a href="{% url 'group_list' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Group List</a>
                <a href="{% url 'change_role' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Change Role</a>
                <a href="{% url 'change_role' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Category</a>
                <a href="{% url 'change_role' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Events</a>
                <a href="{% url 'delete_participant' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Delete Participants</a>
                <a href="{% url 'home' %}" class="block py-2 mt-8 px-4 rounded hover:bg-gray-700">Home</a>
            </nav>  {% endcomment %}
           <nav class="space-y-4">
                {% if request.user.groups.all.0.name == "Admin" %}
                    <a href="{% url 'admin_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                    <a href="{% url 'create_group' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Create Group</a>
                    <a href="{% url 'group_list' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Group List</a>
                    <a href="{% url 'change_role' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Change Role</a>
                    <a href="{% url 'organizer_category' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Category</a>
                    <a href="{% url 'organizer_event' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Events</a>
                    <a href="{% url 'delete_participant' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Delete Participants</a>
                {% elif request.user.groups.all.0.name == "Organizer" %}
                    <a href="{% url 'organizer_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                    <a href="{% url 'organizer_category' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Category</a>
                    <a href="{% url 'organizer_event' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Events</a>
                    <a href="{% url 'organizer_dashboard_stats' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Stats</a>
                {% elif request.user.groups.all.0.name == "Participant" %}
                    <a href="{% url 'participant_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                    <a href="{% url 'participant_joined' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Your Event</a>
                {% endif %}
                <a href="{% url 'home' %}" class="block py-2 mt-8 px-4 rounded hover:bg-gray-700">Home</a>
            </nav> 
        </div>

        <div class="w-full lg:w-3/4 p-6 bg-gray-100">
            <div class="lg:hidden flex justify-between items-center mb-6">
                <button id="menu-btn" class="text-gray-800 p-2 rounded focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>

            {% block content %}
            {% endblock %}
        </div>

        <div id="mobile-sidebar" class="lg:hidden fixed inset-0 bg-gray-800 bg-opacity-75 z-50 transform -translate-x-full transition-transform duration-300">
            <div class="w-2/3 bg-gray-800 p-6 space-y-6">
                <button id="close-btn" class="text-white text-3xl absolute top-4 right-4 focus:outline-none">
                    &times;
                </button>
                <h2 class="text-2xl font-semibold text-white">Admin Panel</h2>
                <nav class="space-y-4 text-white">
                    {% if request.user.groups.all.0.name == "Admin" %}
                        <a href="{% url 'admin_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                        <a href="{% url 'create_group' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Create Group</a>
                        <a href="{% url 'group_list' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Group List</a>
                        <a href="{% url 'change_role' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Change Role</a>
                        <a href="{% url 'organizer_category' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Category</a>
                        <a href="{% url 'organizer_event' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Events</a>
                        <a href="{% url 'delete_participant' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Delete Participants</a>
                    {% elif request.user.groups.all.0.name == "Organizer" %}
                        <a href="{% url 'organizer_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                        <a href="{% url 'organizer_category' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Category</a>
                        <a href="{% url 'organizer_event' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Events</a>
                        <a href="{% url 'organizer_dashboard_stats' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Stats</a>
                    {% elif request.user.groups.all.0.name == "Participant" %}
                        <a href="{% url 'participant_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
                        <a href="{% url 'participant_joined' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Your Event</a>
                    {% endif %}
                    <a href="{% url 'home' %}" class="block py-2 mt-8 px-4 rounded hover:bg-gray-700">Home</a>
                </nav> 
            </div>
        </div>
    </div>

    <script>
        const menuBtn = document.getElementById('menu-btn');
        const closeBtn = document.getElementById('close-btn');
        const mobileSidebar = document.getElementById('mobile-sidebar');

        menuBtn.addEventListener('click', () => {
            mobileSidebar.classList.remove('-translate-x-full');
        });

        closeBtn.addEventListener('click', () => {
            mobileSidebar.classList.add('-translate-x-full');
        });
    </script>
</body>
</html>
